.NewPurchase {
  width: 100%;
  max-width: 750px;
  margin: auto;
  /* box-shadow: 0 2px 2px white, -2px 0 2px #DFE3E4, 2px 0 2px #DFE3E4; */
  border-left: 1px solid #DFE3E4;
  border-top: 1px solid #DFE3E4;
  border-right: 1px solid #DFE3E4;
  box-sizing: border-box;
  background-color: #F5F5F5;
}