.NewPurchase {
  width: 100%;
  max-width: 750px;
  margin: auto;
  border-left: 1px solid #DFE3E4;
  border-top: 1px solid #DFE3E4;
  border-right: 1px solid #DFE3E4;
  box-sizing: border-box;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.NewPurchase input {
  height: 1.2rem;
  text-align: center;
}